name: Build and Release

on:
  push:
    tags: ["v*"]
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version (e.g., v1.2.3)'
        required: true



jobs:

  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-

      - name: Set version
        id: set_version
        run: |
          VERSION="${{ github.ref_name }}"
          if [[ "${{ github.ref_type }}" == "tag" ]]; then
            VERSION="${{ github.ref_name }}"
          elif [ -n "${{ github.event.inputs.version }}" ]; then
            VERSION="${{ github.event.inputs.version }}"
          else
            VERSION="dev"
          fi
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Install GTK dev packages
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential pkg-config \
            gobject-introspection libgirepository1.0-dev \
            libglib2.0-dev libgtk-4-dev libcairo2-dev \
            libsoup-3.0-dev libpango1.0-dev libgdk-pixbuf-2.0-dev

      - name: Build binaries
        run: |
          mkdir -p dist
          # Linux x86_64
          cargo build --release
          cp target/release/ultrapaper dist/ultrapaper-linux-x86_64_${VERSION}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_PAT }}
